body {
   background-color: aquamarine !important;
}

span {
    background-color: rgb(201 251 233);
}

.row-containter {
    height: 90vh;
}

.card {
    border: none;
    height: 320px;
    background-color: rgba(255, 255, 255, .55) !important; 
    backdrop-filter: blur(5px) !important;
    border-radius: 10px;
}

.forms-inputs {
    position: relative
}

.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
  
    padding: 5px 10px;
    font-size: 15px
}

.forms-inputs input {
    height: 50px;
    border: 2px solid #756a6a;
    width: 100%;
    background-color: rgb(201 251 233);
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000
}

.btn {
    height: 50px;
    padding: 10px 0px !important;
}

