body {
   background-color: #157A6E !important;
}

span {
    color: white;
    background-color: rgb(51 143 132);
}

.row-containter {
    height: 90vh;
}

.card {
    border: none;
    height: 320px;
    background-color: rgba(255, 255, 255, .15) !important; 
    backdrop-filter: blur(5px) !important;
    border-radius: 10px;
}

.forms-inputs {
    position: relative
}

.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
  
    padding: 5px 10px;
    font-size: 15px
}

.forms-inputs input {
    height: 50px;
    border: 2px solid #eee;
    width: 100%;
    background-color: rgb(51 143 132);
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000
}

.btn {
    height: 50px;
    padding: 10px 0px !important;
}

